@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

*{
    margin: 0; /*retira todas as magens de todos elementos da pagina */
    padding: 0; /*retira margem interna de todos dos elementos da pagina*/
    list-style: none; /*retira os pontos de lista de qualquer elemento da pagina */
    text-decoration: none; /*retira os sublinhados das lista de qualquer elemento da pagina */
}

.hamburguer{
    color: #00D8F5;
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100; /*posiciona a profundidade do elemento para frente da imagem*/
    right: 2rem;
    top: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 500ms;

}

.showMenu .hamburguer{
    right: 2rem; /*move o botao hambuguer para lado esquerdo do sidebar*/
    
}


.line{
    width: 100%;
    height: 1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px rgb(7, 7, 7);

}

header{
    width: 100%; /*define a largura*/
    height: 100vh; /*define a altura*/
    overflow: hidden; /*retira a barra de rolagem horizontal*/
    position: relative;
}

.img-wrapper{
    width: 100%; /*ocupa 100% da altura do header (pai)*/
    height: 100%; /*ocupa 100% da largura do header (pai)*/
    overflow: hidden;
    background-color: #000; /*adiciona cor na imagem*/
}

.img-wrapper img{ /*imagem envelopada dentro da  */
    width: 100%;
    height: 100%;
    object-fit: cover; /*imagem nao fica sendo espremida quando a dimessão horizontal diminui */
    opacity: 0.5; /*adiciona opacidade na imagem, porem fundo padrao e branco*/
    animation: zoom 5s 
}

/*animação*/
@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;/* atribui o tamanho de referencia do pai*/
    font-family: "Lato",serif;    
    font-weight: 400;/*diminui o peso da fonte*/   
    text-shadow: .3rem .1rem 2px rgb(0, 0, 4); /*adiciona sombra de texto*/
    line-height: 3.5rem; /*reduz a altura da linha*/
    margin-bottom: 1rem;/*adiciona espaco entre o h1 e tag p principal*/
}

.banner p{
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-family: "Special Elite", serif;
    color: rgb(231, 236, 236);
    font-size: 2rem;
    text-shadow: .3rem .1rem 2px rgb(15, 16, 17);/*adiciona sombra de texto*/
    margin-bottom: 3rem;/*adiciona espaco entre o p e o botao principal*/
    margin-right: 2px;
    white-space: nowrap; /*não quera linha*/
    overflow: hidden;
    animation: blinkCursor 500ms infinite normal, digitacao 1s steps(12) 1s normal both;
    
}
@keyframes digitacao{
    from{
        width: 0;
    }
    to{
        width: 6.3em;
    }
}
@keyframes blinkCursor{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to{
        border-right-color: transparent;
    }
}

.banner button{
    font-family: "Roboto", serif;
    color: #00bfff;
    text-transform: uppercase;/*deixa toda texto em caixa alta*/
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem 2rem 1rem 2rem; /*margem interna nos 4 lados*/
    border: solid rgb(221, 218, 218) 1px; /*adiciona bordar ao botão*/
    cursor: pointer;   /*indica interação com o botao*/

}

/*altera a cor e opacidade do botao criando um pseudo classe*/
.banner button:hover{
    opacity: 0.9;
    color: #ffffff;
}

.sidebar{
    width: 20rem;
    height: 100vh; /*atribui mesma altura da viwer*/
    background-color: #4F4F4F;
    opacity: 1.0;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 300ms;
}

.showMenu .sidebar{
    right: 0;
}

.fechar .sidebar{
    right: -20rem;
}


.showMenu .hamburguer{
    
    visibility:visible;  /*visibility: hidden; visibilidade oculta do icone*/
    
}

.closeMenu{
    right: 0;
}


   
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: 2rem;
}


.menu-link{
    font-family: "Roboto", serif;
    font-weight: 100;
    font-size: 2rem;
    color: #ffffff;
    transition: color 500ms;
}

.menu-link:hover{
    color: #00D8F5;
}

.social-media i:hover{
    color: #0097a7 ;
}

.social-media{
    position: absolute; /*move os icones para parte inferior do menu*/
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly; /*alinha os icones na parte inferiror*/
}

.social-media i{
    color: #00D8F5;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem; /*aumenta o tamanho do icone (fonte)*/
    justify-content: center;
    align-items: center;
    transition: color 500ms;
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5;
}

.conhecimento:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}


.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}


.conhecimento:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(6){
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

.sessao-conhecimentos{
    background-color: #f5f5f5f5;

}


.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    font-family: "Lato", "Roboto", serif;
    font-size: 2.5rem; /*tamanho do tiluto conhecimentos*/
    color: rgb(50, 53, 53);
    margin-top: 0.5rem;
    border-bottom: solid 2.5px #00bcd4;
    margin-bottom: 3rem;
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

.conhecimento-header i{
    font-size: 2rem;
}

.conhecimento-header h3{
    font-family: "barlow",serif;
    font-size: 1.5rem;
    padding-left: 0.5rem;

}


.espacoFonte{
    margin-right: 0.5rem;
}

.conhecimento-text{
    font-family: serif;
    margin-top: 0.5rem;
}

.conhecimentos-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}

.conhecimentos-img-wrapper img{
    object-fit: cover;
    width: 100%;
    
}

